127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Docker Swarm nodes – managed by Ansible
{% for host in groups['swarm'] %}
{{ hostvars[host]['ansible_host'] }}  {{ hostvars[host]['swarm_node_hostname'] }}  {{ host }}
{% endfor %}
